@font-face {
  font-family: "iconfont"; /* Project id 5154573 */
  src: url('iconfont.woff2?t=1775805691551') format('woff2'),
       url('iconfont.woff?t=1775805691551') format('woff'),
       url('iconfont.ttf?t=1775805691551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-youxiang:before {
  content: "\e62c";
}

.icon-dianhua1:before {
  content: "\ed0c";
}

.icon-7:before {
  content: "\e606";
}

.icon-dingwei:before {
  content: "\e64f";
}

.icon-html:before {
  content: "\e6a0";
}

.icon-xunzhang:before {
  content: "\e796";
}

.icon-gongwenbao:before {
  content: "\e789";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-youjian:before {
  content: "\eb44";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-xiazai:before {
  content: "\e626";
}

.icon-banshou:before {
  content: "\e6b9";
}

.icon-tuandui:before {
  content: "\e6cb";
}

.icon-network:before {
  content: "\e67a";
}

.icon-shujuku_jurassic:before {
  content: "\e8bd";
}

.icon-github:before {
  content: "\e728";
}

.icon-dianhua:before {
  content: "\e65f";
}

